.App {
  margin: auto;
  margin-top: 16px;
  width: 60%;
}

a {
  text-decoration: none;
  color: blue;
}

.topPostBox:hover {
  background-color: rgb(247, 245, 245);
}

@media screen and (max-width: 768px) {
  .top-post {
      display: none;
  }
}